form {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button:focus {outline:0;}

.add-chat-room button {
    border: none;
    padding: 10px;
    font-size: 50px;
    margin-bottom: 8px;
}

input {
    border: 2px solid black;
    height: 30px;
    margin: 10px;
    width: 300px;
    padding: 12px;
    
}

input:focus, textarea:focus, select:focus{
    outline: none;
}
