@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

header {
    display: flex;
    margin: 0 10px;;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-evenly;
    font-family: 'Questrial', sans-serif;
}

.profile img {
    width: 50px;
    border-radius: 100%;
}
