main {
    display: flex;
    flex-direction: column;
    border: 1px solid black;

}

.message-input {
    position: fixed;
    bottom: 0;
    border: 1px solid red;
    margin-bottom: 10px;
}

.message-list {
    height: 40vh;
    overflow: auto;
    list-style: none;
}