@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 75px;
}

main {
    display: flex;
}

.room-name {
    font-family: 'Abril Fatface', cursive;
}

a, a:visited, a:focus, a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(176, 176, 176);
}